---
title: Recent Posts
layout: default
---

<div class='body-grid'>

	<div class='grid-item'></div>
	<div class='grid-item'>
			<a class="breadcrumb" href='/index.html' style="text-decoration: none;">< Projects Homepage</a>
	</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'>
			<a class='projecttitle' href='/index.html' style="text-decoration: none;">Projects:</a>
	</div>
	<div class='grid-item'></div>


	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class='projectcaption'>&nbspSide projects and some analysis/blog stuff covering plants, software and vintage show flyers. Full listing <a href="/archive.html" style="color: #070e36; font-weight: bolder;">here;</a> browse by category & chronologically below! Please direct any questions or comments <a href="http://www.clarkadisney.com/contact.html" style="color: #070e36; font-weight: bolder;">here.</a></div>
	</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'><hr class="pagebreak"></div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class='projectcategories'>	
			<div class='categorycard'>
			<a href='/organics.html' style="text-decoration: none; color: #070e36;">
			<!--img src="/assets/images/analysis/myco_root_tuber.gif" class='categoryimage' /-->
			Urban Organics
			<div class='categorycopy'>
			 From no-till beds to biologicals & amendments!
		</div></a></div>		

			<div class='categorycard'> 
			<a href='/software' style="text-decoration: none; color: #070e36;">
			<!--img src="/assets/images/localoption/ui3.JPG" class='categoryimage' /-->
			Software
			<div class='categorycopy'>
			Niche/indie projects & OpenCV for the masses!
			</div></a></div>		

			<div class='categorycard'> 
			<a href='/growrack' style="text-decoration: none; color: #070e36;">
			<!--img src="/assets/images/growrack/coverrack7.JPG" class='categoryimage ' /-->
				Growrack
			<div class='categorycopy'>
		    	Efficient DIY system for veggies using recycled soil & food waste!
			</div></a></div>	

			<div class='categorycard'> 
			<a href='/artwork' style="text-decoration: none; color: #070e36;">
			<!--img src="/assets/images/artwork/flyers1.JPG" class='categoryimage' /-->
			Artwork
			<div class='categorycopy'>
		   	Midwest USA Punk Rock and Rave flyers: 1998-2003.
			</div></a></div>	

			<div class='categorycard'> 
			<a href='/analysis' style="text-decoration: none; color: #070e36;">
			<!--img src="/assets/images/LEDs/quantum6.JPG" class='categoryimage' /-->	
			Analysis
			<div class='categorycopy'>
			Companies, technologies and ideas.
			</div></a></div>
			
		</div>
	</div>	
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'><hr class="pagebreak"></div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class='pagination' style="text-decoration: none; color: #070e36;">
				{% if paginator.total_pages > 1 %}
					<div>
					{% if paginator.previous_page %}
					<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
					{% else %}
					<span>&laquo; Prev</span>
					{% endif %} 
					 {% if paginator.next_page %}
					 <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
					 {% else %}
					 <span>Next &raquo;</span>
					 {% endif %}
					 </div>
					 {% endif %}
		</div>
	</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div> 
	<div class='grid-item'>
		<div class="postlist">
			{% for post in paginator.posts limit:25 %}
		<div class='postlistcard'>	
			<a href="{{ post.url }}" style="text-decoration: none; color: #070e36;">	
			<img src="{{ post.featured-image }}" class='postlistimage' />	
				<div class="postlistdate">
				{{ post.date | date: "%b %-d, %Y" }}</div>	
			<div class='postlisttitle'>
				{{ post.title }}</div>
			<div class='postlistcopy'>
				{{ post.caption }}</div>
		</div></a>
		{% endfor %}
		</div>
	</div>
	<div class='grid-item'></div>
	
	<!--div class='grid-item'></div>
	<div class='grid-item'>
		<div class="searchbox">
			<div id="search-container">
			<input type="text" id="search-input" placeholder="Search">
			<ul id="results-container"></ul>
			</div>
		</div>
	</div>
	<div class='grid-item'></div-->

	<!--div class='grid-item'></div>
	<div class='grid-item'><hr class="pagebreak"></div>
	<div class='grid-item'></div-->

	<!--div class='grid-item'></div>
	<div class='grid-item'>
		<ul>
			{% for post in site.posts limit:25 %}
				<li><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
				<span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class='grid-item'></div>
	
	<!div class='grid-item'></div>
	<div class='grid-item'>
		<div class='projecttags'>
		{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}{% assign tags_list = site_tags | split:',' | uniq | sort_natural %}
		{% for item in (0..site.tags.size) %}{% unless forloop.last %}{% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
		<ul><a href="/{{ this_word}}" class='tag'>{{ this_word }} {{ site.tags[this_word].size }}</a></ul>
		{% endunless %}{% endfor %}
		</div></div>
	<div class='grid-item'></div-->

</div>
    
<script src="/assets/js/search-script.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Configuration -->
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json'
})
</script>