---
title: Recent Posts
layout: default
---
<a href='/index.html' style="text-decoration: none;"><div class='pagetitle'>Project Categories</div>
</a>
<div class='body-grid'>


	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class='pagecaption'>&nbspA repository for all DIY research and project work. Posts are grouped chronologically by category below; please reach out with any comments <a href="http://www.clarkadisney.com/contact.html" style="color: #070e36; font-weight: bolder;">here</a>.</div>
	</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'><div class="pagebreak"></div></div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class='projectcategories'>	
		
		<!--div class='categorycard'>
		<a href='/recent/index' style="text-decoration: none; color: #070e36;">
		<img src="/assets/images/analysis/uganda1.JPG" class='categoryimage' />
			Recents
		<div class='categorycopy'>
		Recent posts
		</div></a></div-->

		
		<div class='categorycard'> 
		<a href='/analysis' style="text-decoration: none; color: #070e36;">
		<!--img src="/assets/images/LEDs/quantum6.JPG" class='categoryimage' /-->	
			Analysis
		<div class='categorycopy'>
			Companies, products, and tech.
		</div></a></div>
		
		<div class='categorycard'> 
		<a href='/artwork' style="text-decoration: none; color: #070e36;">
		<!--img src="/assets/images/artwork/flyers1.JPG" class='categoryimage' /-->
			Artwork
		<div class='categorycopy'>
			DIY artwork, murals, and old show flyers
		</div></a></div>		

		<div class='categorycard'> 
		<a href='/growrack' style="text-decoration: none; color: #070e36;">
		<!--img src="/assets/images/growrack/coverrack7.JPG" class='categoryimage ' /-->
			GrowRack
		<div class='categorycopy'>
			Soil-based platform for distributed production.
		</div></a></div> 	

		<div class='categorycard'>
		<a href='/microbiome' style="text-decoration: none; color: #070e36;">
		<!--img src="/assets/images/analysis/myco_root_tuber.gif" class='categoryimage' /-->
			Microbiome
		<div class='categorycopy'>
			Amendments, carbon and other soil health topics
		</div></a></div>	

		<div class='categorycard'> 
		<a href='/notill' style="text-decoration: none; color: #070e36;">
		<!--img src="/assets/images/chiroof/notill6.JPG" class='categoryimage' /-->
			<u></u>No-Till Beds
		<div class='categorycopy'>
			Input-reduction via microscale no-till 
		</div></a></div>

		<div class='categorycard'> 
		<a href='/software' style="text-decoration: none; color: #070e36;">
		<!--img src="/assets/images/localoption/ui3.JPG" class='categoryimage' /-->
			Software
		<div class='categorycopy'>
			DIY software projects 
		</div></a>
	</div>
			
	</div>
	</div>	
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'><div class="pagebreak"></div></div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<a href='/recent/index.html' style="text-decoration: none;">
			<div class='categorylink'>Recent</div></a>
	</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class="postlist">
			{% for post in site.posts limit:3 %}
			<div class='postlistcard'>	
			<a href="{{ post.url }}" style="text-decoration: none; color: #070e36;">	
			<img src="{{ post.featured-image }}" class='postlistimage' />
			<div style="font-size: 0.75em; font-weight: 400; font-family: Arial; text-align: justify;">{{ post.date | date: "%b %-d, %Y" }}</div>		
			{{ post.title }}
			<div class='postlistcopy'>
			
				{{ post.caption }}  
			</div></div></a>
			{% endfor %}
		</div>
	</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'><div class="pagebreak"></div></div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class="searchbox">
			<div id="search-container">
			<input type="text" id="search-input" placeholder="Search">
			<ul id="results-container"></ul>
			</div>
		</div>
	</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<ul>
			{% for post in site.posts limit:25 %}
				<li><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
				<span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class='grid-item'></div>






	<!--div class='grid-item'></div>
	<div class='grid-item'>side projects tag cloud:</div>
	<div class='grid-item'></div>
	
	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class='projecttags'>
		{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}{% assign tags_list = site_tags | split:',' | uniq | sort_natural %}
		{% for item in (0..site.tags.size) %}{% unless forloop.last %}{% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
		<ul><a href="/{{ this_word}}" class='tag'>{{ this_word }} {{ site.tags[this_word].size }}</a></ul>
		{% endunless %}{% endfor %}
		</div></div>
	<div class='grid-item'></div-->

</div>
    
<script src="/assets/js/search-script.js" type="text/javascript"></script></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Configuration -->
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json'
})
</script>






