---
title: Recent Posts
layout: default
---
<a href='/index.html' style="text-decoration: none;">
	<div class='breadcrumb'> < Back To Projects Homepage</div></a>
<a href='/microbiome.html' style="text-decoration: none;"><div class='projecttitle'>Microbiome:</div>
</a>

<div class="button-group filter-button-group">
    {% for category in site.categories %}
    <a class="button" data-filter=".{{ category | first }}"
      >{{ category | first }}</a
    >
    {% endfor %}
    <a class="button active" data-filter="*">All</a>
  </div>  

  <div class="body-grid">
    {% for post in site.posts %}
    <div class="grid-item">
    <div class="element-item {{ post.category }}">
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
  
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"
          >{{ post.title }}</a
        >
      </h2>
      <img src="{{ post.featured-image }}" class='postlistimage' />
    </div>
</div>
    {% endfor %}
  </div>

  <script
  src="http://code.jquery.com/jquery-3.1.0.min.js"
  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>

 
<script>
// init Isotope
var $grid = $(".grid-item").isotope({
  // options
});
// filter items on button click
$(".filter-button-group").on("click", "a", function() {
  var filterValue = $(this).attr("data-filter");
  $grid.isotope({ filter: filterValue });
});

$(".button-group a.button").on("click", function() {
  $(".button-group a.button").removeClass("active");
  $(this).addClass("active");
});
</script>w