<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ "/faveico/cd.JPG" }}"  type="image/x-icon" /> 
<link href="{{ "/assets/css/styles.css" }}" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>

<nav id="main-nav">
    <input type="image" style="height: 55px; max-width: auto;" src="/assets/icons/menu2.png" class="mobile-dropdown-toggle" aria-hidden="true" />
    <div class="dropdown-link-container">
      <a href="http://www.clarkadisney.com/contact.html">Contact</a>
      <a class ="active" href="http://blog.clarkadisney.com">Projects</a>
      <a href="http://www.clarkadisney.com/photos.html">Photos</a>
      <a href="http://www.clarkadisney.com/about.html">About</a>    
    </div>
    <a class="logo" href="/">
      <!--img src="/faveico/cd.JPG" alt="Our professional logo (ideally an svg!)" /-->Clark D.
    </a>  
</nav>

</head>