<div id="navbar">
    <a href="http://www.clarkadisney.com/about.html" id="logo">Clark Disney</a>
    <div id="li`nks">
       <a href="http://www.clarkadisney.com/contact.html" id="link">Contact</a>
        <!--a href="http://www.clarkadisney.com/cv.html" id="link">CV</a-->
        <a class ="active" href="http://blog.clarkadisney.com" id="link">Projects</a>
        <a href="http://www.clarkadisney.com/photos.html" id="link">Travel</a>
        <a href="http://www.clarkadisney.com/about.html" id="link">About</a>
        </div>
    </div>