* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fbf1eb;
  font-family: Arial, Helvetica, Times, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1em;
 /* background-color: #00004f;
  background-image: linear-gradient(rgba(25, 70, 91, 0.5) 1px, transparent 1px), linear-gradient(#19465b 1px, transparent 1px), linear-gradient(90deg, rgba(25, 70, 91, 0.5) 1px, transparent 1px), linear-gradient(90deg, rgba(25, 70, 91, 0.7) 1px, transparent 1px), linear-gradient(transparent 3px, #00004f 3px, #00004f 58px, transparent 58px), linear-gradient(90deg, rgba(25, 70, 91, 0.7) 3px, transparent 3px, transparent 58px, rgba(25, 70, 91, 0.7) 58px);
  background-size: 15px 15px, 60px 60px, 15px 15px, 60px 60px, 60px 60px, 60px 60px;*/
}

header {
  background: #070e36;
}


[class*="icono"] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #070e36;
  box-sizing: border-box;
}
[class*="icono"]:after,
[class*="icono"]:before {
  content: "";
  box-sizing: border-box;
}
[class*="icono-arrow1"] {
  width: 20px;
  height: 20px;
  border-width: 4px 4px 0 0;
  border-style: solid;
  margin: 10px;
}
[class*="icono-arrow1"]:before {
  right: 0;
  top: -3px;
  position: absolute;
  height: 4px;
  box-shadow: inset 0 0 0 32px;
  transform: rotate(-45deg);
  width: 23px;
  transform-origin: right top;
}
[class*="icono-arrow1"][class*="-left"] {
  transform: rotate(45deg);
}
[class*="icono-arrow1"][class*="-left"][class*="-up"] {
  transform: none;
}
[class*="icono-arrow1"][class*="-left"][class*="-down"] {
  transform: rotate(90deg);
}
[class*="icono-arrow1"][class*="-right"] {
  transform: rotate(-135deg);
}
[class*="icono-arrow1"][class*="-right"][class*="-up"] {
  transform: rotate(-90deg);
}
[class*="icono-arrow1"][class*="-right"][class*="-down"] {
  transform: rotate(180deg);
}
[class*="icono-arrow1"][class*="-up"] {
  transform: rotate(-45deg);
}
[class*="icono-arrow1"][class*="-down"] {
  transform: rotate(135deg);
}

#button {
  background-color:  #fbf1eb;
  height: 1.75em;
  width: 1.75em;
  position: fixed;
  bottom: 50%;
  right: 25%;
  transition: background-color .9s, opacity 1.5s, visibility 1.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  font-weight: 400;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: .5;
  text-align: center;
}

#button::after {
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #070e36;
  border: 3px solid #91f196;
}

#button:hover > [class*="icono"] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #6CCFF6;
  box-sizing: border-box;
}

#button:active {
  background-color: #070e36;
  border: 3px solid #91f196;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

nav {
  background-color:white;
  position: absolute;
  top: 0px;
  width: 100%;
  display: inline-block;
  transition: top 0.3s;
  /*box-shadow: 0px 0px 5px 2.5px #070e36;*/
  height: 60px;
  border-bottom: dotted 1px #070e36;
}

.logo {
  float: left;
  font-family: 'DM Serif Display', serif;
  font-weight: 600; 
  margin-left: 17%;
  margin-right: auto; 
  font-size: 3.5em;
  color: #070e36;
  letter-spacing: 1px;
  font-style: italic;
  /*transform: skewX(30deg);*/
  text-shadow:
  -.25em 0em 0em rgba(7, 14, 54, .125),
  -.5em 0em 0em rgba(7, 14, 54, 0.125),
  -1em 0em 0em rgba(7, 14, 54, 0.0625),
  -2em 0em 0em rgba(7, 14, 54, 0.03125),
  -4em 0em 0em rgba(7, 14, 54, 0.015625);
  line-height: .6;
  -webkit-font-smoothing: antialiased;
/*  -webkit-animation: text-shadow 0.75s linear infinite;
          animation: text-shadow 0.75s linear infinite;*/
}

/*@-webkit-keyframes text-shadow {
  from, 19.9% {
    text-shadow: -.25em 0em 0em rgba(7, 14, 54, .25);
  }
  20%, 39.9% {
    text-shadow: -.5em 0em 0em rgba(7, 14, 54, 0.125);
  }
  40%, 59.9% {
    text-shadow: -1em 0em 0em rgba(7, 14, 54, 0.0625);
  }
  60%, 79.9% {
    text-shadow: -2em 0em 0em rgba(7, 14, 54, 0.03125);
  }
  80%, to {
    text-shadow: -4em 0em 0em rgba(7, 14, 54, 0.015625);
  }
}

@keyframes text-shadow {
  from, 19.9% {
    text-shadow: -.25em 0em 0em rgba(7, 14, 54, .125);
  }
  20%, 39.9% {
    text-shadow: -.5em 0em 0em rgba(7, 14, 54, 0.125);
  }
  40%, 59.9% {
    text-shadow: -1em 0em 0em rgba(7, 14, 54, 0.0625);
  }
  60%, 79.9% {
    text-shadow: -2em 0em 0em rgba(7, 14, 54, 0.03125);
  }
  80%, to {
    text-shadow: -4em 0em 0em rgba(7, 14, 54, 0.015625);
  }
}*/

.logo:hover {
  transition-delay: 25ms;
  transition-duration: 125ms;
  cursor: pointer;
  border-bottom: 4px solid #6CCFF6;
}

.logo.active {
  color: #6CCFF6;
  border-bottom: 4px solid #070e36;
}

nav a {
  float: right;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #070e36;
  text-align: center;
  padding: 12.5px 12.5px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'DM Serif Display', sans-serif;
  -webkit-font-smoothing: antialiased;
 /* font-style: italic;
  text-shadow:
    -.25em 0em 0em rgba(7, 14, 54, .125),
    -.5em 0em 0em rgba(7, 14, 54, 0.125),
    -1em 0em 0em rgba(7, 14, 54, 0.0625),
    -2em 0em 0em rgba(7, 14, 54, 0.03125),
    -4em 0em 0em rgba(7, 14, 54, 0.015625);*/
}

nav a:hover {  
  transition-delay: 25ms;
  transition-duration: 125ms;
  cursor: pointer;
  border-bottom: 4px solid #6CCFF6;
}

nav a.active {
  display: block;
  color: #070e36;
  border-bottom: 4px solid #6CCFF6;
}

.dropdown-link-container {
  margin-right: 15%;
}

.mobile-dropdown-toggle {
  display: none;
  float: left;    
  margin: 5px 5px;
}

.inline_toc {
  list-style-type: decimal;
  justify-content: space-around;
  text-align: left;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 1em;
  background-color: #070e36;
  box-shadow: 2px 2px 15px 2px #070e36;
  color: #91f196;
  font-size: 1.25rem;
}

.inline_toc:hover a {
  cursor: pointer;
}

.inline_toc a {
  color: #91f196;
  text-decoration-line: none;
}

/* Using numbers instead of bullets for listing*/
.inline_toc ul {
    color: #91f196;
}

.inline_toc::before {
  content: "Jump to:";
  font-weight: bolder;
  color: #6CCFF6;
}

/*Body Grid*/
.body-grid {
  display: grid;
  height: auto;
  max-width: 100%;
  grid-template-columns: auto auto auto;
/*  outline: 5px solid blueviolet; */
}
/*Body Item*/
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;	
/*  border: 1px solid purple; */
overflow-x: hidden;
}

/* General Flexbox Container*/
.flex-container {	
  background-color: #fbf1eb;  /* Blue */
  height: 100%;
  justify-content: center; 
  display: flex;
/*  border: 1px solid orangered;*/
}

/* General Flexbox Item*/
.flex-item {	
display: flex;
flex-direction: column;
Justify-content: center;	
border: 1px solid blue;
}  

/*---------------------images-----*/
.responsive {
  max-width: 100%;
  height: auto;
  background-size: cover;
}

.hero{
  width: 100%;
  height: 50%;
  object-fit: fill;
}

.thumb {
  max-width: 100%;
  height: auto;
  background-size: cover;
}

/*-----flex gallery items-----*/
.row {
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  max-width: 66.665%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

/* gallery Create four equal columns that sits next to each other */
.column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 1em;
}

.column img {
  margin-top: 1em;
  vertical-align: middle;
  width: 100%;
}


/* Page-Specific Classes */ 

/*----project pages-----*/
.postcrumb {
  width:66.66%;
  margin-top: 7.5em;
  margin-bottom: 0.25em;
  text-align: Left;
  margin-left: auto;
  margin-right: auto;  
	font-weight: lighter;
	font-size: 1.25em;
  -webkit-font-smoothing: antialiased;
	color: #070e36;
}

.breadcrumb {
  width:100%;
  margin-top: 7.5em;
  margin-bottom: 1em;
  text-align: Left;
  margin-left: 17.5%;
  margin-right: 17.5%;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
	font-size: 1.25em;
  -webkit-font-smoothing: antialiased;
	color: #070e36;
}

.categorylink {
  display: flex;
  width: 66.666%;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  align-items: flex-start;
  font-size: 1.5em;
  font-weight: bold;
  color: #070e36;
}

.pagination {
  margin-top: 1em;
  margin-bottom: 1em;
	text-align: center;
	font-weight: bold;
  margin-left: auto;
  margin-right: auto;
	font-size: 1.25em;
	font-family: 'DM Serif Display', serif;
	color: #070e36;
}

.pagetitle {
  width: 100%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  margin-top: 3em;
  font-family: 'DM serif Display';
	font-weight: 500;
	font-size: 3.25em;
  -webkit-font-smoothing: antialiased;
	color: #070e36;
}

.pagesection {
  margin-top: .25em;
  width: 100%;
  margin-left: 17.5%;
}

.pagecaption {
    width: 100%;
    text-align: Left;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 0.5em;
    margin-left: 17%;
    margin-right: 40%;
  }

.projecttitle {
  width: 100%;
  margin-bottom: 0.25em;
  margin-left: 20%;
  margin-right: 20%;
	text-align: left;
	font-family: 'DM Serif Display', sans-serif;  
	font-weight: 500;
	font-size: 3.25rem;
  -webkit-font-smoothing: antialiased;
	color: #070e36;
}

.projectcaption {
  width: 100%;
  text-align: Left;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  margin-bottom: 0.5em;
  margin-left: 18%;
  margin-right: 18%;
}

hr.pagebreak {
  border: none;
  width: 100%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  -webkit-font-smoothing: antialiased;
  height: .3125em; 
  background: linear-gradient(135deg, #fbf1eb 25%, transparent 25%) -0.15625em 0, linear-gradient(225deg, #fbf1eb 25%, transparent 25%) -0.15625em 0, linear-gradient(315deg, #fbf1eb 25%, transparent 25%), linear-gradient(45deg, #fbf1eb 25%, transparent 25%); 
  background-size: .3125em .3125em;
  background-color: #070e36;
}

.locationcaption {
  width: 66.66%;
	text-align: left;
} 

.projectcategories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  justify-content: space-between;
	font-family: 'DM Serif Display', sans-serif;  
  -webkit-font-smoothing: antialiased;
}

table, th, td {
  border: 1px solid black;
}

.categorycard {
  box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.25);
  border-radius: 0.25%;
  margin: .5em .25em .5em .25em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: justify;
  width: 33%;
  color: #070e36;
  letter-spacing: 1px;
  height: auto;
  padding: 15px 15px 15px 15px;
  text-decoration: none; 
  -webkit-font-smoothing: antialiased;
}

.categorycard > a {
  text-decoration: none; 
  color: #070e36;
}

.categorycard:hover {
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  background-color: #f2dfce;
}

.categorycard:hover > a > .categorycopy { 
  text-decoration: underline #070e36;
}

.categorycard:hover > a { 
  text-decoration: underline #070e36;

}

.categoryimage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.categorycopy {
  max-width: 100%;
  height: auto;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: .9em;
  text-align: start;
}

.projecttags{
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  text-decoration-style: none;
  -moz-text-decoration-line: none;
  text-decoration-line: none;
  max-width: 66.666%;
}

.projectcard {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  width: 40%;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2dfce;
  box-shadow: 2px 2px 15px 2px #f2dfce;
  padding: .25em .25em .25em .25em;
}

.projectimage:hover {
  box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.25);
}

.projectimage {
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
}

.projectcopy {
  max-width: 50%;
  object-fit: contain;
}

.postlist {
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
  padding: .25em .5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; 
	font-family: 'DM Serif Display', sans-serif;  
  -webkit-font-smoothing: antialiased;
}

.postlistcard {
  box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.25);
  border-radius: 16px;
  margin: 1em 1em;
  text-align: left;
  width: 26%;
  height: 375px;
/*background-color: #f2dfce;*/
}

.postlistcard:hover {
  box-shadow:  0 0 10px  rgba(7,14,54,0.6);
  -moz-box-shadow: 0 0 10px  rgba(7,14,54,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(7,14,54,0.6);
  -o-box-shadow: 0 0 10px  rgba(7,14,54,0.6);
   background-color:#f2dfce;
}

.postlistcard:hover > a > .postlistcopy { 
  text-decoration: underline #070e36;
}

.postlistcard:hover > a { 
  text-decoration: underline #070e36;

}

.postlistimage {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.postlisttitle {
  color: #070e36;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: .25em;
}

.postlistcopy {
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-height: auto;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  padding-left: .5em;
}

.postlistdate {
font-size: 1.25em;
font-weight: lighter;
padding-left: .5em;
margin-bottom: .5em;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.searchbox {
  height: 100px;
  position: relative;
/*  border: 1px solid blue; */
  overflow: visible;
  width: 33.333%;
}

#results-container{
/*  border: 1px solid magenta;*/
  background-color:#6CCFF6;
  box-sizing: border-box;
  border-radius: 4px;
  color: #070e36;
  box-shadow:15px 15px 30px 0px rgba(5,28,40,1);
  position: relative;
}	

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #f2dfce;
  border-radius: 5px;
  color: #070e36;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}


/*----about me page-----*/
.profilecard {
  display: flex;
  flex-direction: row;
  justify-content: middle;
/*  border: 1px solid yellow; */
  max-width: 70%;
}
.profileimage {
  max-width: 50%;
  margin-left: 15%;
  height: auto;
  background-size: cover;
  margin-right: .75%;
/*  border: 1px solid blue; */
}
.profilecopy {
  max-width: 33.333%;
  height: auto;
  margin-right: 5%;
  background-size: cover;
/*  border: 1px solid red; */
  margin-left: .75%;
}

/*map-----------------*/
.mapclass {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
  margin-top: 1em;
}

/*Icon Animation & Styles*/
@keyframes fadeInOut {
  0% {
    transform: 
	rotateY(-180deg)
	rotateX(-180deg);
	opacity: 0;
	}
  50% {
    transform: rotateY(-90deg) rotateX(-90deg);
	opacity: .3;
	/*font-weight: bold;*/
  }
  100% {
    transform: 
	rotateX(0)
	rotateY(0);
	opacity: 1;
  }  
}
.icons { 	
animation: fadeInOut 750ms linear;
}
.platforms {
	display: inline-block;
	background-color:  #fbf1eb;
	border-radius: 50%;
	height:48px;
	width: 48px;
	box-shadow:0px 1px 7.5px 0px rgba(5,28,40,1);
/*	animation: fadeInOut 500ms linear; */
	/*border: 2px solid Black;*/
}
.platforms:hover {
	background-color: #6CCFF6;
	box-shadow:0px 0px 15px 0px rgba(5,28,40,1);
}	
 /* Forms---------------------------*/
 /* Form Fields Style */
 input[type=text],[type=email], select, email {
	
  width: 100%; /* Full width */
  padding: 15px; /* Some padding */ 
  border: -1px solid #ccc;  
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Messagebox*/
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: vertical;
}
/* Form Send Style */
input[type=submit] {
  width: 100%;
  height: 50px;
  margin-top: 6px;
  background-color: #070e36;
  color: #cbcbcb;
  border: 1px solid #070e36;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2.5px 10px 0px rgba(5,28,40,1); 
  
}
/* Form Send Hover */
input[type=submit]:hover {
  background-color: #6CCFF6;
  border: 1px solid #6CCFF6;
  color: #070e36;
  box-shadow: 0px 2.5px 15px 0px rgba(5,28,40,1);
}
/* Form Background Colors */
.forms {
  padding-top: 50px;
  border-radius: 5px;
  padding: 20px;
  } 

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1366px) {


  #button {
    right: 12.5%;
  }

  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .row {
   max-width: 100%;
  }

 .locationcaption {
  width: 90%;
  } 
    

    
  .projecttags{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    text-decoration-style: none;
    -moz-text-decoration-line: none;
    text-decoration-line: none;
    max-width: 90%;
  }

  .projectimage {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  }
  .inline_toc {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
 .projectcard {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
     
  .projectcopy {
  width: 100%;
  height: auto;
  object-fit: cover;
  }
    
  .searchbox {
  height: 100px;
  /*border: 1px solid blue; */
  overflow: visible;
  width: 80%;
  position: relative;
  }

  .profilecard {
  display: flex;
  flex-direction: row;
  Justify-content: center;	
  margin-left: 5%;
  margin-right: 1%;
  max-width: 100%;
  /*  border: 1px solid blue; */
  }

  .profileimage {
    max-width: 50%;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0.5em;
    height: auto;
    background-size: cover;
  /*  border: 1px solid blue; */
  
  }
  .profilecopy {
    max-width: 100%;
    height: auto;
    background-size: cover;
    align-items: center;
   /* border: 1px solid blue; */
   margin-top: 0;
   margin-left: 0.5em;
   margin-right: 1%;
  }

}

/* Responsive layout - make columns stack on top of each other instead of next to each other */
@media screen and (max-width: 940px) {


  #button {
    height: 1.5em;
    width: 1.5em;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #070e36;
    border: 3px solid #91f196;
  }
  
  [class*="icono"] {
    color: #6CCFF6;
  }
  
  nav .logo {
    float: none;
    font-family: 'DM Serif Display', serif;
    font-weight: bolder; 
    font-size: 3.25rem;
    text-align: center;
    color: #070e36;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
  }

  .breadcrumb {
    width:66.66%;
    margin-top: 7.5em;
    margin-bottom: 1em;
    margin-left: 10%;
    text-align: Left;  
    font-weight: bold; 
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    color: #070e36;
  }

  nav.dropdown-opened > .dropdown-link-container {
    opacity: 1; /* fade in */
    transform: translateY(0); /* move into view */
  }

  nav.dropdown-opened > .logo {
    color: #91f196;
  }

  .logo, .mobile-dropdown-toggle {
    z-index: 2;
    position: relative;
    outline: none;
  }

  .mobile-dropdown-toggle {
    display: initial; /* override that display: none attribute from before */
    float: left;
    z-index: 4;
  }
  
  .dropdown-link-container {
    /* first, make our dropdown cover the screen */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    /* fix nav height on mobile safari, where 100vh is a little off */
    height: -webkit-fill-available;

    /* then, arrange our links top to bottom */
    display: flex;
    flex-direction: column-reverse;
    /* center links vertically, push to the right horizontally.
       this means our links will line up with the rightward hamburger button */
    justify-content: center;
    align-items: flex-end;

    /* add margins and padding to taste */
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;

    background: #070e36;
    z-index: 2; /* we're gonna avoid using -1 here, since it could position our navbar below other content on the page as well! */
    /* our initial state */
    opacity: 0; /* fade out */
    transform: translateY(-100%); /* move out of view */
    transition: transform 0.2s, opacity 0.2s; /* transition these smoothly */
    }

  .dropdown-link-container > a {
    color: #6CCFF6;
  }

  .dropdown-link-container > a:hover {  
    cursor: pointer;
    border: 3px solid #91f196;
  }
  
  
  .dropdown-link-container > a.active {
    display: block;
    color: #6CCFF6; 
    border: 3px solid #91f196;
  }
  
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
  }
  .row {
    max-width: 100%;
  }

  .pagetitle {
    margin-top: 2.25em;
    padding-left: 7.5%;
  }

  .projecttitle {
    width: 100%;
    text-align: center;
    margin-bottom: 0.25em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'DM Serif Display', sans-serif;  
    font-weight: 500;
    font-size: 2.25rem;
    -webkit-font-smoothing: antialiased;
    color: #070e36;
  }
  
  .pagecaption {
    width: 85%;
    text-align: left;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
  } 

  .projectcaption {
    width: 85%;
    margin: auto;
    text-align: left;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125em;
    font-weight: 300;
  }

  hr.pagebreak {
    border: none;
    width: 100%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    -webkit-font-smoothing: antialiased;
    height: .3125em; 
    background: linear-gradient(135deg, #fbf1eb 25%, transparent 25%) -0.15625em 0, linear-gradient(225deg, #fbf1eb 25%, transparent 25%) -0.15625em 0, linear-gradient(315deg, #fbf1eb 25%, transparent 25%), linear-gradient(45deg, #fbf1eb 25%, transparent 25%); 
    background-size: .3125em .3125em;
    background-color: #070e36;
  }

  .inline_toc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid yellow;*/
    max-width: 90%;
    min-width: 90%;
    font-size: 1.125em;
  }

  .projectcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid yellow;*/
    max-width: 90%;
    min-width: 90%;
  }

  .projectcategories {
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 100%;
  }
  
  .categorycard{
    margin: 2.5% auto;
    max-width: 85%;
    min-width: 85%;
    box-shadow:  0 0 10px  rgba(7,14,54,0.6);
    -moz-box-shadow: 0 0 10px  rgba(7,14,54,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(7,14,54,0.6);
    -o-box-shadow: 0 0 10px  rgba(7,14,54,0.6);
    background-color:#f2dfce;
  }

  .postlist {
    justify-content: Left;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 100%;
  }
  
  .postlistcard{
    margin: 2emauto;
    max-width: 90%;
    min-width: 90%;
    height: auto;
    box-shadow:  0 0 10px  rgba(7,14,54,0.6);
    -moz-box-shadow: 0 0 10px  rgba(7,14,54,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(7,14,54,0.6);
    -o-box-shadow: 0 0 10px  rgba(7,14,54,0.6);
    background-color:#f2dfce;
    padding-bottom: 2em;
  }

  .postlistcopy {
    width: 100%;
    max-height: auto;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: left;
    padding-left: .5em;
  }

  .postlisttitle {
    font-size: 1.25em;
  }

  .projectimage{
    max-width: 100%;
    max-height: 500px;
    object-fit: fill;
  }

  .projectcopy {
    width: 100%;
    height: auto;
    background-size: cover;
    /*border: 1px solid blue;*/

  }

  .projecttags ul {
    display: inline-block;
    font-size: 1rem;
    letter-spacing: .01rem;
    padding-left: 5px;
    padding-top: auto;
    padding-bottom: auto;
  }  

  .locationcaption {
    width: 96%;
  } 
  .profilecard {
    display: flex;
    flex-direction: column;
    Justify-content: center;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;	
  /*  border: 1px solid blue; */
  }
  .profileimage {
    max-width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    background-size: cover;
  /*  border: 1px solid blue; */
  
  }
  .profilecopy {
    max-width:100%;
    height: auto;
    background-size: cover;
    align-items: center;
   /* border: 1px solid blue; */
   margin-top: 1em;
   margin-left: 0;
   margin-right: 0;
  }
      
  .pagebreak {
    text-align: center;
    border: none; 
    width:  85%; 
    margin: auto; 
    margin-top: 1.5em; 
    margin-bottom: 1.5em; 
    height: .3125rem; 
    background: linear-gradient(135deg, #fbf1eb 25%, transparent 25%) -0.15625rem 0, linear-gradient(225deg, #fbf1eb 25%, transparent 25%) -0.15625rem 0, linear-gradient(315deg, #fbf1eb 25%, transparent 25%), linear-gradient(45deg, #fbf1eb 25%, transparent 25%); 
    background-size: .3125rem .3125rem; 
    background-color: #070e36;
  }

}
