---
layout: default
---
<script type="text/javascript">
  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          title: 'My Daily Activities',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    	}
	
		$(window).resize(function(){
  		drawChart();
		});

</script>

<a href='/Growrack.html' style="text-decoration: none;"><div class='pagetitle'>Growrack:</div>
</a>

<div class="projectcard">
<div id="donutchart"></div>
</div>

<div class='body-grid'>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class='pagecaption'>&nbspAll posts involving the Growrack. Current Growrack stats:</div>
	</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'><p></p>Growrack posts tag cloud:</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class='projecttags'>
	{% capture site_tags %}{% for tag in site.posts %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}{% assign tags_list = site.posts | where: 'tags', 'Growrack' | map: 'tags' | join: ',' | split: ',' | uniq | sort_natural %}
	{% for item in (0..site.tags.size) %}{% unless forloop.last %}{% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
	<ul><a href="/{{this_word}}">{{ this_word }} {{ site.tags[this_word].size }}</a></ul>
	{% endunless %}{% endfor %}
	</div></div>
	<div class='grid-item'></div> 
	
	<!--div class='grid-item'></div>
	<div class='grid-item'>
		<div class='projecttags'>
		{% assign tags = site.posts | where: 'tags', 'Growrack' | map: 'tags' | join: ',' | split: ',' | uniq %}
		{% for tag in tags %}
		<ul><a href="/{{tag}}.html/">{{ tag }}</a></ul>
		{% endfor %}
	</div></div>
	<div class='grid-item'></div-->

	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class="searchbox">
			<div id="search-container">
			<input type="text" id="search-input" placeholder="Search">
			<ul id="results-container"></ul>
			</div>
			</div>
	</div>
	<div class='grid-item'></div>
	
	<div class='grid-item'></div>
	<div class='grid-item'>
		{% for post in site.tags.Growrack limit:25 %}
		<a href="{{ post.url }}">
			<div class='projectcard'>
				<h3>{{ post.title }}</h3>
			<img src="{{ post.featured-image }}" class='projectimage' />
			<div class='projectcopy'>
			<a>{{ post.caption }}</a>  
			<p style="color: BLACK; font-size: 1rem; FONT-WEIGHT: BOLD;">{{ post.date | date: "%b %-d, %Y" }}</p>
			</div></div></a>
		</div>
		<div class='grid-item'></div>
	
		<div class='grid-item'></div>
		<div class='grid-item'>
    	{% endfor %}
		</div>
		<div class='grid-item'></div>

	
</div>


<script src="/assets/js/search-script.js" type="text/javascript"></script></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Configuration -->
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json'
})
</script>


