---
layout: default
---
 
<a href='/index.html' style="text-decoration: none;"><div class='pagetitle'>Closing the loop:</div>
</a>

<div class='projectcategories'>
	<a href='/index.html' style="text-decoration: none;"> all</a> | 
	<a href='/plants.html' style="text-decoration: none;"> urban organics</a> | 
	<a href='/software.html' style="text-decoration: none;"> software</a> | 
    <a href='/artwork.html' style="text-decoration: none;">artwork</a>
</div>



<div class='body-grid'>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class='pagecaption'>&nbsp The purpose of this section is to research and display the scalability of technologies that are well-known to niche organic growers but remain <b>nascent in commercial horticulture</b>. This dichotomory is a <b>"known-known"</b> among academic researchers and enthusiasts alike; there are numerous examples of <b>products</b> that have successfully made the leap with many more remaining unadopted commercially
			
			<p></p><p></p>&nbsp In addition to articles, this space serves as a showcase for our test labrotory: an indoor micro vertical farm that produces organinc greens, root vegetables, herbs, and other plants sustainably using <b>soil and biomass</b> for $10 a month. There's also some showing off of our <b>no-till</b> chicago rooftop garden.  
			
			<p></p><p></p>&nbsp Lastly, I'd be remiss if I didn't thank my late father for dragging me to <a href="https://en.wikipedia.org/wiki/Royal_FloraHolland" style="text-decoration: none;"><b>Aalsmeer</b></a> and <a href="https://en.wikipedia.org/wiki/Floriade_2002" style="text-decoration: none;"><b>Floriade</b></a> in 2002, seeding the interest for this project. I also owe a major thank you to my organic farming friends in Kentucky and Chicago who have graciously answered <b>soil and microbiome</b> questions without hesitation.<p></p></div>
	</div>
	<div class='grid-item'></div>


	<div class='grid-item'></div>
	<div class='grid-item'>

	</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'><p></p><p></p>plant projects tag cloud:</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class='projecttags'>
	{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}{% assign tags_list = site.posts | where: 'categories', 'plants' | map: 'tags' | join: ',' | split: ',' | uniq %}
	{% for item in (0..site.tags.size) %}{% unless forloop.last %}{% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
	<ul><a href="/{{ this_word}}">{{ this_word }} {{ site.tags[this_word].size }}</a></ul>
	{% endunless %}{% endfor %}
	</div></div>
	<div class='grid-item'></div>

	<!--div class='grid-item'></div>
	<div class='grid-item'>
		<div class='projecttags'>
		{% assign tags = site.posts | where: 'categories', 'plants' | map: 'tags' | join: ',' | split: ',' | uniq %}
		{% for tag in tags %}
		<ul><a href="/{{tag}}.html/">{{ tag }}</a></ul>
		{% endfor %}
	</div></div>
	<div class='grid-item'></div-->

	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class="searchbox">
			<div id="search-container">
			<input type="text" id="search-input" placeholder="Search">
			<ul id="results-container"></ul>
			</div>
			</div>
	</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'>
		{% for post in site.categories.plants limit:25 %}
		<a href="{{ post.url }}">
			<div class='projectcard'>
				<h3>{{ post.title }}</h3>
			<img src="{{ post.featured-image }}" class='projectimage' />
			<div class='projectcopy'>
			<a>{{ post.caption }}</a>  
			<p style="color: BLACK; font-size: 1rem; FONT-WEIGHT: BOLD;">{{ post.date | date: "%b %-d, %Y" }}</p>
			</div></div></a>
		</div>
		<div class='grid-item'></div>
	
		<div class='grid-item'></div>
		<div class='grid-item'>
    	{% endfor %}
		</div>
		<div class='grid-item'></div>



</div>

<script src="/assets/js/search-script.js" type="text/javascript"></script></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Configuration -->
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json'
})
</script>