---
title: Software
layout: default
---

<div class='body-grid'>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<ul class="breadcrumb">
			<li><a href='http://www.clarkadisney.com' style="color: #070e36;">Home</a></li>
			<li><a href='/index.html' style="color: #070e36;">Projects</a></li>
			<li><a href='/software.html' style="color: #070e36;">Local Option</Option></a></li>
		  </ul>
	</div>
	<div class='grid-item'></div>
	
	<div class='grid-item'></div>
	<div class='grid-item'>
		<a class='projecttitle' href='/software.html' style="text-decoration: none;">Local Option:</a>
	</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'>
		<div class='projectcaption'>&nbsp&nbspFormer blog for abandoned photo software project called "Local Option." The project's intent was to bring modern sorting and retrieval via <b>OpenCV</b> to a standalone program using a modern web/GUI framework like <b>Electron</b>. The original description is italicized below and the posts cover exploration, MVP, backend, wireframe - and reasons for stopping development. Please direct any questions or comments <a href="http://www.clarkadisney.com/contact.html" style="color: #070e36; font-weight: bolder;">here!</a>
			<p><i>Local Option is a privacy-focused photograph management system currently in development. We believe that your memories are yours, and that your family shouldn't need to grant programatic access to your personal lives in exchange for storage, transfer, and sorting features.</i>

			<i>No demo yet, but we expect to have something to kick the tires on in 2019. The program is currently <a href="https://github.com/pkuca/local-option" style="color: #070e36; font-weight: bolder;" target="_blank" rel="noopener noreferrer">written</a> in JavaScript, utilizes openCV.js, and is packaged in Electron.</i></p>
		</div>
	</div>
	<div class='grid-item'></div>
	
	<div class='grid-item'></div>
	<div class='grid-item'><hr class="pagebreak"></div>
	<div class='grid-item'></div>

	<div class='grid-item'></div> 
	<div class='grid-item'>
		<div class="postlist">
		{% for post in site.categories.Software limit:25 %}
		<div class='postlistcard'>	
			<a href="{{ post.url }}" style="text-decoration: none; color: #070e36;">	
			<img src="{{ post.featured-image }}" class='postlistimage' />	
			<div class="postlistdate">
				{{ post.date | date: "%b %-d, %Y" }}</div>	
			<div class='postlisttitle'>
				{{ post.title }}</div>
			<div class='postlistcopy'>
				{{ post.caption }}</div>
		</div></a>
		{% endfor %}
		</div>
	</div>
	<div class='grid-item'></div>

	<div class='grid-item'></div>
	<div class='grid-item'><hr class="pagebreak"></div>
	<div class='grid-item'></div>

</div>

<script src="/assets/js/search-script.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Configuration -->
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json'
})
</script>